.calendar-area {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 10px 5px;
  background: #fdfdfd;
  color: #9e30fe;
  width: 397px;
  box-shadow: 0px 1px 1px 1px #e3e3e3;
}

.calendar-area.show {
  display: block;
  position: relative;
  top: -370px;
  left: 0;
}

.calendar-area.not-show {
  display: none;
}

.calendar-table {
  font-size: 12px;
}

.calendar-day-area {
  margin: 100px;
}
.calendar-date-area {
}

.calendar-day-area th,
tr {
  font-size: 12px;
  width: calc(397px / 7);
  height: 39px;
  line-height: 39px;
  text-align: center;
  cursor: pointer;
}

.calendar-day-area th {
  color: rgb(209, 209, 209);
}

.calendar-day-area th.sun {
  color: rgb(207, 94, 94);
}

.calendar-date-area td {
  padding: 7px 14.5px;
}

.calendar-date-area td.not-this-month {
  color: #f1f1f1;
}

.calendar-date-area .each-date.selected {
  border-radius: 100%;
  border: 2px solid #d6abfc;
}

.calendar-date-area .each-date {
  margin: auto;
  width: 25px;
  height: 25px;
  line-height: 22px;
  border: 2px solid rgba(0, 0, 0, 0);
}

.calendar-header {
  text-align: center;
}

.calendar-header .month {
  font-weight: bold;
  font-size: 18px;
  padding: 12px 0 30px;
}

.calendar-header .year {
  padding-top: 18px;
}

.calendar-header button {
  border: none;
  background: none;
  color: #9e30fe;
  font-size: 18px;
}
