@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSansKR-Light.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'NotoSans', sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-size: 13px;
}

button:focus,
textarea:focus,
input:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.wrap {
  display: flex;
  flex-direction: column;
  width: 1440px;
  margin: auto;
}


.main-container {
  width: 562px;
  margin-left: 358px;
  text-align: left;
}

.side-container {
  width: 520px;
  text-align: right;
  padding-top: 43px;
  padding-left: 90px;
}

.todo-header {
  display: flex;
  color: white;
  background-image: linear-gradient(rgb(169, 30, 254), rgb(147, 20, 254), rgb(147, 20, 254), rgb(169, 30, 254));
  min-height: 66px;
  line-height: 66px;
}

.todo-header .logo-area {
  width: 25%;
  text-align: left;
  padding: 0 2%;
}

.todo-header .logo-area a {
  color: white;
  text-decoration: none;
}

.todo-header .search-area {
  width: 562px;
}

.search-area .search-bar {
  width: 100%;
  border-radius: 50px;
  height: 38px;
  border: 1px solid rgb(197, 197, 197);
  padding: 20px;
}

@media (max-width: 768px) {
  /* 768px 이내 css */
  .todo-header {
    /*flex-direction: row;*/
    /*height: 400px;*/
  }
}

.todo-list-container {
  padding: 10px;
  overflow: scroll;
  color: rgb(83, 83, 83);
}

.todo-list-container .title {
  font-size: 24px;
  letter-spacing: -0.3px;
  font-weight: normal;
}

.today-list .title {
  margin: 47px 0 57px;
}

.todo-list {
}

.finished .todo-item-title {
  text-decoration: line-through;
}

.todo-item {
  display: flex;
  margin-top: 19px;
  width: 100%;
}

.todo-item-title {
  font-size: 18px;
  letter-spacing: -0.2px;
  word-break: break-all;
  max-width: 540px;
  margin-left: 8px;
}

.todo-checkbox {
  height: 14px;
  line-height: 14px;
  width: 14px;
  border-radius: 7px;
  cursor: pointer;
}

.completed .todo-checkbox{
  background: rgb(215, 215, 215);
}

.completed .todo-title {
  color: rgb(215, 215, 215);
}

.todo-checkbox .none {
  display: none;
}

.todo-checkbox .completed-img {
  display: block;
  position: relative;
  height: 9.5px;
  left: 3.5px;
  top: 0.5px;
}

.todo-remove-btn,
.todo-edit-btn {
  border: none;
  color: #dbdbdb;
  height: 16px;
}

.todo-edit-btn {
  /*width: 15%;*/
}

.todo-remove-btn {
  /*width: 10%;*/
}

.todo-edit-input-div {
  /*width: 60%;*/
}

.todo-edit-input {
  /*width: 80%;*/
  margin: auto;
  font-size: 18px;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.body-area {
  display: flex;
  flex-direction: row;
}

.forms-area {
  display: flex;
  max-width: 562px;
  text-align: center;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 38px;
  height: 38px;
  line-height: 38px;
}

.forms-area-input {
  border: none;
  padding: 10px;
  width: 100%;
  color: #9e30fe;
  font-weight: bold;
  font-size: 15px;
  margin: 1px 0 1px 15px;
}

.forms-area-btn {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #9e30fe url('../img/enter.png') no-repeat center;
  background-size: 24px;
  border: 1px solid #9e30fe;
}

.login-div {
  margin: auto;
  height: 100vh;
}

.kakao-btn-design {
  background-image: url('../img/kakao.png');
  background-size: cover;
  border: none;
  color: rgba(0, 0, 0, 0);
  height: 49px;
  width: 300px;
}

.kakao-btn-design:hover {
  background-image: url('../img/kakao_hover.png');
}

.login-div .logo-area {
  height: 200px;
  line-height: 200px;
  width: 200px;
  margin: 75% auto 30%;
  border: 1px solid #ccc;
  border-radius: 100%;
  text-align: center;
}

.login-div .btn-area {
  height: 30%;
}

.priority-label {
  margin: 37px 0 31px;
}

.priority-label button {
  border: none;
  text-align: center;
  height: 48px;
  width: 90px;
  color: white;
  border-radius: 24px;
  margin-right: 6px;
}

.urgent {
  background: #d0021b;
}

.high {
  background: #f5a623;
}

.medium {
  background: #7ed321;
}

.low {
  background: #50e3c2;
}

.priority-label .not-selected {
  background: #d1d1d1;
}

.forms-section {
  width: 562px;
}
