@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSansKR-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Dinmed';
  src: url('../fonts/dinmed.TTF') format('opentype');
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'NotoSans', sans-serif;
  height: 100%;
  width: 100vw;
  margin: 0;
  font-size: 13px;
}

button:focus,
textarea:focus,
input:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.mobile-download-div {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  height: 100%;
  width: 100%;
}

.mobile-download-div .appstore-logo {
  display: block;
  width: 40%;
  margin: auto;
}

.mobile-download-div .main-logo {
  display: block;
  width: 20%;
  margin: auto;
  padding-top: 25vh;
}

.mobile-download-div p {
  text-align: center;
  font-size: 1.6em;
  font-weight: bolder;
  line-height: 27px;
  margin: 60px 0;
  color: #9e30fe;
}

.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.blurred {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.dimmed-calendar-modal-area {
  display: none;
}

.dimmed-area.opened {
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.18);
}

.week-container {
  display: none;
}

.main-container {
  width: 562px;
  text-align: left;
  padding-bottom: 90px;
}

.forms-container {
  width: 562px;
  padding: 5px;
  background: rgb(244, 244, 244);
  position: fixed;
  bottom: 0;
  border: 1px solid rgb(244, 244, 244);
  border-radius: 15px 15px 0 0;
  transition: height 0.3s;
  -webkit-transition: height 0.3s; /* Safari */
}

.header-container {
  width: 100%;
  position: fixed;
  top: 0;
  background-image: linear-gradient(rgb(169, 30, 254), rgb(147, 20, 254));
  z-index: 2;
}

.todo-header {
  display: flex;
  color: white;
  height: 66px;
  align-items: center;
  padding: 0 20px;
}

.todo-header .profile-btn {
  margin-left: 20px;
  height: 33px;
  width: 33px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.context {
  padding: 0 10px;
}

.context.profile {
  display: flex;
  flex-direction: row;
  height: 60px;
  border-bottom: 1px solid #eee;
}

.context.log-out {
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 5px;
}

.context.language-area {
  display: flex;
  align-items: center;
  height: 40px;
}

.context button {
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 7px;
  background-color: rgb(185, 185, 185);
  color: #fff;
  margin-right: 10px;
}

.context button.selected {
  background-color: #9e30fe;
}

.context .account {
  padding: 0 0 0 12px;
}

.account .name {
  font-size: 16px;
  margin-bottom: 9px;
}

.account .email {
  font-size: 11px;
}

.context .profile-img {
  height: 33px;
  width: 33px;
  border-radius: 100%;
}

.profile-btn .profile-img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.context.logout:hover {
  background-color: #aaa;
}

.context .logout-img {
  height: 14px;
  width: 18px;
  margin-right: 17px;
}

.todo-header .profile-menu-area {
  display: none;
}

.todo-header .profile-menu-area.opened {
  display: block;
  position: absolute;
  top: 50px;
  right: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 200px;
  padding: 20px 0;
  color: black;
  box-shadow: 0 1px 1px 1px #e3e3e3;
}

.todo-header .right-area {
  display: flex;
  justify-content: flex-end;
  width: calc(85% - 662px);
  text-align: right;
}

.todo-header .logo-area {
  width: calc(15% + 80px);
  height: 100%;
  padding: 20px 0;
}

.todo-header .logo-area img {
  width: 110px;
  height: 26px;
  cursor: pointer;
}

.todo-header .logo-area a {
  color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.search-btn-sm-show .search-icon-btn {
  display: none;
}

.todo-date-title-sm-show {
  display: none;
}

.todo-header .search-area {
  width: 562px;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}

.search-area .search-bar {
  display: flex;
  width: 100%;
  border-radius: 50px;
  border: 1px solid rgb(197, 197, 197);
  padding: 0 5px 0 20px;
  background: white;
}

.search-area .search-input {
  width: calc(100% - 33px);
  height: 33px;
  border: none;
  padding: 0 5px;
}

.search-area .search-icon-btn {
  height: 33px;
  width: 33px;
  border: none;
  background: white url('../img/search.png') no-repeat center;
  background-size: 16px;
  border-radius: 0 100% 100% 0;
}

.today-calendar-container {
  width: 368px;
  padding: 24px 15px;
  margin: 0 auto;
}

.todo-list-container {
  min-width: 400px;
  color: rgb(83, 83, 83);
}

.todo-list-container .title {
  font-size: 1.5em;
  letter-spacing: -0.3px;
  font-weight: bold;
}

.unfinished-title-div {
  margin: 25px 0 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.today-title-div {
  margin: 25px 0 18px;
  display: flex;
  align-items: center;
  height: 1.5em;
}

.today-title-div .date {
  font-size: 1.1em;
  margin-left: 10px;
  height: 1.5em;
  line-height: 2.1em;
}

.unfinished-title-div .title {
  color: rgb(208, 2, 27);
  margin: 0;
}

.unfinished-title-div .fold-btn {
  width: 30px;
  height: 20px;
  background: url('../img/up-btn.png') no-repeat center;
  background-size: 20px;
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.unfinished-title-div .fold-btn.fold {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.dividing-line {
  border: 0.5px solid rgb(236, 236, 236);
}

.today-list .title {
  background: white;
}

.todo-list {
}

.completed .todo-item-title {
  text-decoration: line-through;
}

.todo-item {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  width: 100%;
}

.todo-item-title {
  font-size: 18px;
  letter-spacing: -0.2px;
  word-break: break-all;
  max-width: 540px;
  margin-left: 24px;
}

.todo-item-date {
  font-size: 14px;
  color: rgba(223, 223, 223, 0.68);
  letter-spacing: -0.2px;
  font-weight: 600;
  margin-left: 43px;
  margin-top: 5px;
}

.basic-todo-info-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
}

.todo-checkbox {
  height: 18px;
  line-height: 18px;
  width: 18px;
  border-radius: 100%;
  cursor: pointer;
}

.completed .todo-checkbox {
  border: none;
  background: rgb(215, 215, 215);
}

.completed .todo-title {
  color: rgb(215, 215, 215);
}

.todo-checkbox .none {
  display: none;
}

.todo-checkbox .completed-img {
  display: block;
  position: relative;
  height: 13.5px;
  left: 4.5px;
  top: 0.5px;
}

.todo-remove-btn {
  border: none;
  color: #dbdbdb;
  height: 16px;
}

.todo-edit-btn {
  /*width: 15%;*/
}

.pure-remove-btn-div {
  flex-direction: row;
  height: 30px;
  align-items: center;
  justify-content: space-evenly;

  margin-left: auto;
  width: 27px;
}

.todo-remove-btn {
  display: none;
  width: 10px;
  height: 10px;
  background: url('../img/blur-delete.png') no-repeat center;
  background-size: 10px;
}

.todo-item:hover .todo-remove-btn {
  display: block;
}

.todo-item:hover .todo-action-div {
  display: flex;
}

.todo-action-div {
  display: none;
  flex-direction: row;
  height: 30px;
  align-items: center;
  justify-content: space-evenly;

  margin-left: auto;
  width: 27px;
  /* transition 열릴 때 만 */
  transition: none;
  -webkit-transition: none; /* Safari */
}

.todo-action-div {
}

.todo-action-div.opened {
  display: flex;
  background-color: rgb(239, 239, 239);
  padding: 5px;
  width: 80px;
  border-radius: 20px;
  transition: width 0.3s;
  -webkit-transition: width 0.3s; /* Safari */
}

.todo-action-div button {
  border: none;
}

.todo-action-div .todo-more-btn {
  width: 20px;
  height: 20px;
  background: url('../img/more.png') no-repeat center;
  background-size: 4px;
  margin-right: 35px;
}

.todo-action-div .todo-edit-btn.none,
.todo-remove-btn.none {
  visibility: hidden;
}

.todo-action-div.opened .todo-more-btn {
  margin-right: 0;
}

.todo-action-div .todo-remove-btn {
  display: block;
  margin: 0;
  width: 20px;
  height: 20px;
  background: url('../img/delete.png') no-repeat center;
  background-size: 13px;
}

.todo-action-div .todo-edit-btn {
  width: 20px;
  height: 20px;
  background: url('../img/edit.png') no-repeat center;
  background-size: 13px;
}

.todo-edit-input-div {
  /*width: 60%;*/
}

.todo-edit-input {
  /*width: 80%;*/
  margin: auto;
  font-size: 18px;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.body-area {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  padding-left: calc(15% + 100px);
}

.forms-area {
  display: flex;
  text-align: center;
  border-radius: 38px;
  height: 38px;
  line-height: 38px;
  background: white;
  align-items: center;
}

.forms-area-input {
  border: none;
  padding: 10px;
  width: calc(100% - 76px);
  font-size: 15px;
}

.forms-area-btn {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.forms-area-btn.submit {
  border: 1px solid #9e30fe;
  background: #9e30fe url('../img/enter.png') no-repeat center;
  background-size: 16px;
}

.forms-area-btn.submit {
  border: 1px solid #9e30fe;
  background: #9e30fe url('../img/enter.png') no-repeat center;
  background-size: 16px;
}

.forms-area-btn.edit {
  border: 1px solid #9e30fe;
  background: #9e30fe url('../img/edit-white.png') no-repeat center;
  background-size: 22px;
}

.forms-area-btn.additional-forms {
  border: none;
  background: rgba(0, 0, 0, 0) url('../img/add-btn.png') no-repeat center;
  background-size: 16px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.forms-area-btn.additional-forms.opened {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.login-div {
  margin: auto;
  height: 100vh;
}

.loader-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.loader-container.show {
  display: block;
  background-color: #fff;
}

.loader-container.none {
  display: none;
}

.kakao-btn-design {
  background-image: url('../img/kakao.png');
  background-size: cover;
  border: none;
  color: rgba(0, 0, 0, 0);
  height: 49px;
  width: 300px;
  border-radius: 25px;
}

.kakao-btn-design:hover {
  background-image: url('../img/kakao_hover.png');
}

.login-div .logo-area {
  height: 400px;
  margin: 40% auto 0;
  background: rgba(0, 0, 0, 0) url('../img/podo_main.png') no-repeat center;
  background-size: 100%;
}

.login-div .btn-area {
  /*height: 30%;*/
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login-div .main-link {
  margin-top: 30px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.priority-label {
  display: flex;
  justify-content: space-between;
}

.showing-label-div {
  height: 19px;
  width: 19px;
  border-radius: 100%;
}

.priority-label button {
  border: none;
  text-align: center;
  height: 38px;
  width: 85px;
  color: white;
  border-radius: 24px;
  margin-right: 6px;
  font-size: 15px;
}

.urgent-border {
  border: 2px solid #d0021b;
}

.high-border {
  border: 2px solid #f5a623;
}

.medium-border {
  border: 2px solid #7ed321;
}

.low-border {
  border: 2px solid #50e3c2;
}

.none-border {
  border: 2px solid rgb(74, 144, 226);
}

.urgent-bg {
  background-color: #d0021b;
}

.high-bg {
  background-color: #f5a623;
}

.medium-bg {
  background-color: #7ed321;
}

.low-bg {
  background-color: #50e3c2;
}

.none-bg {
  background-color: rgb(74, 144, 226);
}

.priority-label .not-selected {
  background: #d1d1d1;
}

.forms-option-area {
  display: flex;
  flex-direction: row;
  padding: 0 15px;
}

.forms-option-area .option-title {
  padding: 18px 0 8px;
  color: #9e30fe;
  font-weight: bold;
}

.forms-container.opened {
  height: 515px;
}

.forms-container.closed {
  height: 65px;
}

.forms-container.opened .forms-option-area {
  display: block;
}

.forms-container.closed .forms-option-area {
  display: none;
}

.calendar-show-btn {
  border: 1px solid #ccc;
  width: 30px;
}

.week-month-title {
  display: none;
}

/*요기부터 모바일*/
@media (max-width: 1215px) {
  .body-area {
    padding-left: calc(100% - 930px);
  }

  .todo-header .logo-area {
    width: calc(100% - 910px);
  }

  .todo-header .right-area {
    width: 368px;
  }
}

@media (max-width: 1050px) {
  .todo-header .logo-area {
    width: 100%;
  }
  .todo-header .search-area {
    color: rgba(0, 0, 0, 0);
  }
}

@media (max-width: 930px) {
  /* 768px 이내 css */
  .main-container {
    width: 98%;
  }

  .dimmed-area.opened {
    top: 140px;
  }

  .todo-list-container {
    width: 100%;
    padding: 80px 25px 18px;
    margin: 0 10px;
  }

  .forms-container {
    width: 94%;
    margin: 0 3%;
  }

  .today-calendar-container {
    display: none;
  }

  .forms-container .forms-area {
    width: 100%;
  }

  .todo-header {
    height: 60px;
    line-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 25px 0;
  }

  .todo-header .right-area {
    display: flex;
  }

  .todo-header .search-area {
    /*width: 100%;*/
    display: none;
  }

  .search-btn-sm-show .search-icon-btn {
    display: block;
    height: 33px;
    width: 33px;
    border: none;
    background: rgba(0, 0, 0, 0) url('../img/search-white.png') no-repeat center;
    background-size: 16px;
    border-radius: 0 100% 100% 0;
  }

  .header-container .week-container {
    height: 84px;
    display: flex;
    align-items: center;
  }

  .week-container .week-move-btn {
    text-indent: -9999px;
    border: none;
    width: 32px;
    height: 32px;
  }

  .week-move-btn.left {
    background: rgba(0, 0, 0, 0) url('../img/left-go.png') no-repeat center;
    background-size: 6px;
  }

  .week-move-btn.right {
    background: rgba(0, 0, 0, 0) url('../img/right-go.png') no-repeat center;
    background-size: 6px;
  }

  .week-date-area {
    display: flex;
    width: calc(100% - 64px);
  }

  .todo-date-title-sm-show {
    display: flex;
    font-weight: bold;
  }

  .todo-date-title-sm-show .month {
    font-size: 27px;
    line-height: 52px;
    cursor: pointer;
  }

  .todo-date-title-sm-show .month:hover {
    text-decoration: underline;
  }

  .todo-date-title-sm-show .year {
    font-size: 16px;
    margin-left: 15px;
  }

  .week-date-item {
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    color: white;
  }

  .week-date-item .day {
    font-size: 13px;
    height: 21px;
    line-height: 21px;
  }

  .week-date-item .date {
    font-family: 'Dinmed', sans-serif;
    font-size: 14px;
    height: 26px;
    line-height: 18px;
    width: 26px;
    margin: 7px auto 0;
    cursor: pointer;
  }

  .week-date-item .date.selected {
    border: 1px solid rgb(250, 250, 235);
    background: rgb(250, 250, 235);
    color: #9e30fe;
    border-radius: 50%;
  }

  .week-date-item .date .red-pin {
    height: 4px;
    width: 4px;
    visibility: hidden;
    position: relative;
    top: 0;
    background: rgb(208, 2, 27);
    border-radius: 50%;
    margin: auto;
  }

  .week-date-item .date.has .red-pin {
    visibility: visible;
  }

  .todo-header .logo-area {
    display: none;
  }

  .priority-label button {
    margin-top: 5px;
  }

  .forms-container.opened {
    height: 530px;
  }

  .week-month-title {
    display: block;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 2%;
  }

  .dimmed-calendar-modal-area.opened {
    display: block;
    height: 1000px;
    position: fixed;
    width: 100%;
    z-index: 3;
    padding: calc(40% - 5vw) 15%;
    background: rgba(0, 0, 0, 0.37);
  }

  .blurred-bg {
    position: fixed;
    width: 100%;
    height: 1000px;
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }

  .todo-header .profile-menu-area.opened {
    top: 60px;
    right: 25px;
  }

  .context .account {
    line-height: initial;
  }
}
